<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vous accompagner pas à pas</h2>
                    <h3 class="section-subheading text-muted">Automatisez les tâches administratives RH grâce à l'IA et gagnez du temps.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/_51486879-3f4b-4205-96af-3e3911ef38ab.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Masterclass</h4>
                                    <h4 class="subheading">Découvrez un cas d'usage à maîtriser en 1 heure</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Explorez une nouvelle dimension de l'intelligence artificielle appliquée aux ressources humaines. Grâce à notre solution, simplifiez vos tâches administratives et découvrez en une heure comment résoudre efficacement un cas d'usage. Libérez le potentiel caché de votre équipe et transformez votre façon de travailler avec notre masterclass exclusive. - à partir de 200 €/ entreprise</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/a-captivating-and-diverse-representation-of-invest-O4WgcskkQmW2EyI8aOs64A-l31fU5TIQFGo_kxjA90rZw.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conférence</h4>
                                    <h4 class="subheading">Intégrez en 1 journée l'IA dans vos stratégies RH</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Découvrez comment l'IA peut révolutionner votre gestion des ressources humaines. Cette conférence vous fournira les connaissances pratiques pour automatiser les tâches, améliorer la prise de décisions et créer une culture d'entreprise plus efficace et plus engagée. - à partir de 850 €/ entreprise </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Designer (9).jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Chatbot</h4>
                                    <h4 class="subheading">Automatisez instantanément 1 tâche administrative RH grâce à une IA dédiée</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Déléguez les tâches administratives à notre chatbot IA spécialement conçu pour votre entreprise. Personnalisé selon vos besoins spécifiques, il offre une automatisation efficace et une expérience utilisateur exceptionnelle. - 200 €/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Extensions IA</h4>
                                    <h4 class="subheading">Intégrez en options de nouvelles fonctionnalités à votre chatbot</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transformez votre chatbot en un véritable assistant personnalisé. Adaptez-le aux besoins de vos utilisateurs, selon qu'ils soient candidats ou employés, grâce à nos extensions IA modulables. - 20€/ extension/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Séminaire
                                    Process
                                     Metiers</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
