<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformation numérique</h2>
                    <h3 class="section-subheading text-muted">Automatisez les tâches administratives RH grâce à l'IA et gagnez du temps.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Masterclass</h4>
                                    <h4 class="subheading">Découvrez un cas d'usage à maîtriser en 1 heure</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Explorez une nouvelle dimension de l'intelligence artificielle appliquée aux ressources humaines. Grâce à notre solution, simplifiez vos tâches administratives et découvrez en une heure comment résoudre efficacement un cas d'usage. Libérez le potentiel caché de votre équipe et transformez votre façon de travailler avec notre masterclass exclusive. - à partir de 200 €/ entreprise</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conférence</h4>
                                    <h4 class="subheading">Intégrez en 1 journée l'IA dans vos stratégies RH</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Découvrez comment l'IA peut révolutionner votre gestion des ressources humaines. Cette conférence vous fournira les connaissances pratiques pour automatiser les tâches, améliorer la prise de décisions et créer une culture d'entreprise plus efficace et plus engagée. - à partir de 850 €/ entreprise </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Chatbot</h4>
                                    <h4 class="subheading">Automatisez instantanément 1 tâche administrative RH grâce à une IA dédiée</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Déléguez les tâches administratives à notre chatbot IA spécialement conçu pour votre entreprise. Personnalisé selon vos besoins spécifiques, il offre une automatisation efficace et une expérience utilisateur exceptionnelle. - 200 €/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Revenu</h4>
                                    <h4 class="subheading">Intégration d'une Intelligence artificielle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Amélioration du service client : Le chatbot est disponible 24/7 pour répondre aux questions des clients, résoudre les problèmes et fournir une assistance instantanée.
Qualification efficace des prospects : Le chatbot identifie les clients potentiels les plus intéressés et les oriente vers vos équipes commerciales, augmentant ainsi vos chances de conversion.
Augmentation des ventes : Le chatbot guide les clients à travers le processus d'achat, suggère des produits complémentaires et personnalise les offres promotionnelles, stimulant ainsi vos ventes. - 790€/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Solution
                                    <br>Clé en
                                    <br>main !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
