pe<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Options</h2>
                    <h3 class="section-subheading text-muted">Révolutionnez le parcours client grâce au marketing conversationnel en 4 semaines.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Acquisition</h4>
                                    <h4 class="subheading">Création et animation de votre blog</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nous partageons votre expertise et boostons votre référencement naturel grâce à un blog intégré et vos réseaux sociaux. Selon votre préférence, vous pouvez nous confier la rédaction des articles à une fréquence que vous déciderez et/ ou bénéficier d'une formation pour le faire vous-même. - 100€/ article</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Activation</h4>
                                    <h4 class="subheading">Développez des compétences techniques</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prenez une longueur d'avance sur la concurrence grâce à la puissance de l'IA et propulsez vos ventes vers de nouveaux sommets.  Cette formation vous apprend à exploiter l'IA pour créer des argumentaires commerciaux gagnants, qui identifient les points de douleur de vos clients et présentent vos solutions de manière claire et persuasive.  Découvrez des techniques pour optimiser le ciblage de vos messages et booster votre taux de conversion grâce à des emails et des discours commerciaux à fort impact.  Développez vos compétences techniques en matière d'outils d'IA et affûtez vos capacités commerciales pour devenir un véritable expert en vente assistée par IA. - à partir de 200 € </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Rétention</h4>
                                    <h4 class="subheading">Création des pages professionnelles sur vos réseaux sociaux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A la différence d'un profil personnel, si vous souhaitez promouvoir votre entreprise ou votre activité professionnelle, une page professionnelle est indispensable. Elle vous permettra de toucher une audience plus large, de diffuser des messages ciblés et de mesurer l'impact de vos actions marketing. - 100€/ réseau social</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Revenu</h4>
                                    <h4 class="subheading">Intégration d'une Intelligence artificielle</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Amélioration du service client : Le chatbot est disponible 24/7 pour répondre aux questions des clients, résoudre les problèmes et fournir une assistance instantanée.
Qualification efficace des prospects : Le chatbot identifie les clients potentiels les plus intéressés et les oriente vers vos équipes commerciales, augmentant ainsi vos chances de conversion.
Augmentation des ventes : Le chatbot guide les clients à travers le processus d'achat, suggère des produits complémentaires et personnalise les offres promotionnelles, stimulant ainsi vos ventes. - 790€/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Solution
                                    <br>Clé en
                                    <br>main !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
