
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactez Nous</h2>
                    <h3 class="section-subheading text-muted">Vous avez un projet ? Laissez-nous vos coordonnées et un consultant reviendra vers vous dans les meilleurs délais.</h3>
                </div>
            </div>

         <!--       
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Votre nom *" id="name" required data-validation-required-message="Veuillez saisir votre nom.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Votre Email *" id="email" required data-validation-required-message="Veuillez saisir votre adresse e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="Votre téléphone *" id="phone" required data-validation-required-message="Veuillez saisir votre numéro de téléphone. ">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Votre Message *" id="message" required data-validation-required-message="Veuillez saisir votre message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer le Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
-->

<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Nom entier</label>
    <input type="text" name="name" id="full-name" placeholder="Prénom et Nom de famille" required="">
    <label for="email-address">Addresse Email</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domaine.tld" required="">
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" placeholder="Vous avez un projet ? Laissez-nous vos coordonnées et un consultant reviendra vers vous dans les meilleurs délais." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Envoyer">
</form>

        </div>
    </section>

