<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">La solution</h2>
                    <h3 class="section-subheading text-muted">Bénéficiez d'un design moderne, d'un meilleur référencement mobile et d'une expérience client sans faille : images, textes et mise en page se réorganisent en temps réel pour offrir une navigation fluide et intuitive sur tous les appareils.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chabot</h4>
                    <p class="text-muted">Offrez un support client instantané 24/7, qualifiez les prospects en temps réel et facilitez le processus d'achat pour vos clients. Notre intelligence artificielle sophistiquée personnalise les recommandations en fonction du profil de chaque client, répond aux questions sur les produits avec précision, et gère efficacement les retours et les remboursements - pour une satisfaction client accrue et des ventes en constante augmentation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formation</h4>
                    <p class="text-muted">Prenez une longueur d'avance sur la concurrence grâce à la puissance de l'IA et propulsez vos ventes vers de nouveaux sommets.  Cette formation vous apprend à exploiter l'IA pour créer des argumentaires commerciaux gagnants, qui identifient les points de douleur de vos clients et présentent vos solutions de manière claire et persuasive.  Découvrez des techniques pour optimiser le ciblage de vos messages et booster votre taux de conversion grâce à des emails et des discours commerciaux à fort impact.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contenu</h4>
                    <p class="text-muted">Nous animons vos réseaux sociaux professionnels et y partageons des articles de blog captivants. Générez ainsi du trafic qualifié, améliorez votre référencement naturel et convertissez vos visiteurs en clients fidèles grâce à une stratégie de contenu cohérente et centralisée. Ce contenu peut en outre servir de base de connaissance du chatbot afin d'engager et onboarder les nouveaux clients.</p>
                </div>
            </div>
        </div>
    </section>
