<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">La solution</h2>
                    <h3 class="section-subheading text-muted">Nous comprenons les défis auxquels vous faites face en tant que professionnel des RH. Les tâches répétitives et chronophages vous empêchent de vous concentrer sur ce qui compte vraiment : développer votre équipe et améliorer la performance de votre entreprise.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formation</h4>
                    <p class="text-muted">Offrez un support client instantané 24/7, qualifiez les prospects en temps réel et facilitez le processus d'achat pour vos clients. Notre intelligence artificielle sophistiquée personnalise les recommandations en fonction du profil de chaque client, répond aux questions sur les produits avec précision, et gère efficacement les retours et les remboursements - pour une satisfaction client accrue et des ventes en constante augmentation.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chabot</h4>
                    <p class="text-muted">Les tâches répétitives comme la gestion des candidatures, la réponse aux questions fréquentes ou la planification des congés accaparent votre temps et celui de votre équipe. Imaginez pouvoir déléguer ces tâches à un assistant virtuel intelligent et efficace. Nos chatbots IA, conçus spécifiquement pour les besoins des RH, automatisent instantanément les tâches administratives les plus courantes. Ils sont entièrement personnalisables.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-learning</h4>
                    <p class="text-muted">Personnalisez votre expérience d'apprentissage selon votre emploi du temps et vos besoins. Aucun prérequis spécifique, ce programme est accessible à tous les professionnels désireux de moderniser leurs pratiques. Notre plateforme est entièrement optimisée pour une utilisation sur mobile. Maîtriser l’intégration de l’IA par l'ensemble de vos salariés dans la finance, le droit, le marketing, les ventes et bien sûr les Ressources Humaines.</p>
                </div>
            </div>
        </div>
    </section>
