<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos avantages concurrentiels</h2>
                    <h3 class="section-subheading text-muted">Obtenez une présence digitale complète - Simple et Rapide !</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intelligence artificielle</h4>
                    <p class="text-muted">Donnez une longueur d'avance à votre boutique en ligne avec votre solution de chatbot IA optimisée pour le e-commerce. Proposez un support client instantané 24/7, qualifiez les prospects en temps réel et facilitez le processus d'achat pour vos clients. Notre IA personnalise les recommandations, répond aux questions sur les produits et gère les retours - pour une satisfaction client et des ventes en hausse.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Site Web Fluide</h4>
                    <p class="text-muted">Notre solution de design adaptatif de pointe crée un site web qui s'adapte et se redimensionne automatiquement à la taille de l'écran de l'utilisateur. Images, textes et mise en page se réorganisent en temps réel pour offrir une navigation fluide et intuitive sur tous les appareils. Bénéficiez d'un design moderne, d'un meilleur référencement mobile et d'une expérience client sans faille.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Studio de contenu 360</h4>
                    <p class="text-muted">Nous animons vos réseaux sociaux professionnels et y partageons des articles de blog captivants. Générez ainsi du trafic qualifié, améliorez votre référencement naturel et convertissez vos visiteurs en clients fidèles grâce à une stratégie de contenu cohérente et centralisée.</p>
                </div>
            </div>
        </div>
    </section>
