<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Un chatbot RH dédié pour chaque tâche</h2>
                    <h3 class="section-subheading text-muted">Dites adieu aux tâches répétitives. Notre chatbot IA personnalisé prend le relais.
                        <br><b>Chatbot de base :</b> Automatise les tâches administratives courantes (candidatures, congés, etc.).
    <br><b>Extensions IA :</b> Personnalisez votre chatbot avec des fonctionnalités supplémentaires (analyse de CV, planification d'entretiens, etc.).
                        <br>Vous pouvez pour chaque produit, [fa=comments /] y accéder directement, [fa=code /] commander une personnalisation ou [fa=whatsapp /] nous demander plus d'information sur le produit.
                        
                        </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
<p style="text-align: justify;">

<br><b>Gain de temps considérable</b> : Consacrez-vous à des tâches à plus forte valeur ajoutée.
    <br><b>Expérience utilisateur améliorée</b> : Offrez une expérience fluide et personnalisée à vos employés et candidats.
    <br><b>Réduction des erreurs</b> : Minimisez les risques d'erreurs liées à la saisie manuelle.
    <br><b>Disponibilité 24/7</b> : Votre chatbot est toujours là pour répondre aux questions.</p>

</p>
                </div>
            </div>
        </div>
    </section>
