<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos partenaires</h2>
                    <h3 class="section-subheading text-muted">Depuis une quinzaine d'années AMMI MarkeTIC étend ses compétences grâce à un réseau d'entreprises</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Si vous êtes une agence qui réalise des services dédiés aux entreprises, vous pouvez vérifier votre éligibilité à notre partenariat en nous contactant. Vous ferez ensuite l'objet d'un processus de vérification approfondi visant à maintenir la qualité des services proposés par les agences et à favoriser un environnement commercial digne de confiance. Nous vous contacterons pour vous informer des prochaines étapes après le processus de vérification.</p>
                </div>
            </div>
        </div>
    </section>
