<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos partenaires</h2>
                    <h3 class="section-subheading text-muted">Depuis une quinzaine d'années AMMI MarkeTIC étend ses compétences grâce à un réseau d'entreprises</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
<p style="text-align: justify;">Grâce à nos partenaires, nous vous offrons une séance de consultation gratuite. La meilleure offre de consultation gratuite à offrir dépend des besoins spécifiques du client et de l’objectif de votre entreprise. Voici quelques suggestions pour une session de 30 minutes :

<br><b>Audit SEO</b> : Cela peut fournir une valeur immédiate en identifiant des améliorations rapides que le client peut apporter à son site web.
<br><b>Analyse de contenu</b> : Utile pour les clients qui ont déjà du contenu et cherchent à l’optimiser pour un meilleur engagement.
<br><b>Description de votre offre</b> : Parfait pour les clients cherchant à attirer les bons talents.
<br><b>Segmentation de votre audience</b> : Essentiel pour les stratégies de marketing ciblées.
<br><b>Guide complet de branding</b> : Pour les clients qui lancent une marque ou cherchent à rafraîchir leur image de marque.
<br><b>Stratégie digitale</b> : Pour aider les clients à planifier leur présence en ligne à long terme.
<br><b>Pitch de vente</b> : Pour les clients qui ont besoin d’aide pour affiner leur message de vente.
<br><b>Description de produit</b> (SEO-friendly, e-commerce) : Très demandé pour les clients avec des boutiques en ligne.
<br><b>Texte promotionnel</b> : Pour créer des messages publicitaires captivants.
<br><b>Guide d’achat</b> : Utile pour les clients qui veulent aider leurs clients à prendre des décisions d’achat éclairées.
<br><b>Post sur les avantages de votre produit</b> : Bon pour mettre en avant les caractéristiques uniques d’un produit.
<br><b>Annonces publicitaires</b> : Pour ceux qui veulent maximiser leur impact sur les réseaux sociaux.
<br><b>Générateur de section bio sociale</b> : Aide à créer une impression forte sur les plateformes sociales.
<br><b>Structure de page d’atterrissage</b> : Crucial pour convertir les visiteurs en clients.
<br><b>Mise en page de site web</b> : Pour les clients qui cherchent à améliorer l’expérience utilisateur de leur site.
<br>Pour une session de 30 minutes, nous recommanderions de choisir une offre qui peut fournir des résultats tangibles et immédiats.</p>

</p>
                </div>
            </div>
        </div>
    </section>
